<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>http://localhost</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FPWorkEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;Application Name=EntityFramework" Name="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPI.Models.FPWorkEntities, WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FocusADBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;Application Name=EntityFramework" Name="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPI.Models.FocusADBContext, WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;Application Name=EntityFramework" Name="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPI.Models.ApplicationDbContext, WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FocusADBContext-Web.config Connection String">
      <ParameterValue>Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FPWorkEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FocusADB.csdl|res://*/Models.FocusADB.ssdl|res://*/Models.FocusADB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=FOCUS-A;Initial Catalog=FPWork;Persist Security Info=True;User ID=1Cv82;Password=1CGhtlghbznbt82;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>