<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintFP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PrintFP.Properties.Settings.FpWorkConnectionString"
            connectionString="Data Source=focus-a;Initial Catalog=FPWork;User ID=sa;Password=1СПредприятие82"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PrintFP.Properties.Settings>
            <setting name="TimerIntervalSec" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DateTimeStartReport" serializeAs="String">
                <value>2017-09-03</value>
            </setting>
            <setting name="DateTimeEndReport" serializeAs="String">
                <value>2017-09-20</value>
            </setting>
        </PrintFP.Properties.Settings>
    </applicationSettings>
</configuration>